:root {
    /* --primary: #27a102; */
    --primary: #41fc03;
    --dark: #333;
    --darker: #222;
    --light: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

body {
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: var(--dark);
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    padding: 0px 5%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 3;
    
}

header .logo{
    font-weight: bolder;
    font-size: 30px;
    color: var(--primary);
    letter-spacing: 5px;
}

header .navbar ul{
    list-style: none;
}

header .navbar ul li{
    position: relative;
    float: left;
}

header .navbar ul li a{
    font-size: 16px;
    padding: 20px;
    color: var(--light);
    display: block;
    transition: all 0.3s;
}

header .navbar ul li a:hover{
    color: var(--primary);
}


header .navbar ul li ul{
    position: absolute;
    left: 0;
    width: 150px;
    background: var(--dark);
    display: none;
}

.fas {
    margin-left: 5px;
}

header .navbar ul li ul li{
    width: 100%;
    border-top: 1px solid rgba(0,0,0,.1)
}

header .navbar ul li ul li ul{
    left: 150px;
    top: 0;
}

header .navbar ul li:focus-within > ul,
header .navbar ul li:hover > ul{
    display: initial;
}

#hamburger{
    display: none;
}

header label {
    font-size: 20px;
    color: var(--light);
    cursor: pointer;
    display: none;
}



.text-box {
    width: 90%;
    color: var(--light);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.text-box h1{
    font-size: 60px;
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 18px;
    color: var(--light);
}





@media(max-width: 850px){
    .text-box h1{
        font-size: 7vw;
    }
    header{
        padding: 17px 5%;
    }

    header label{
        display: initial;
    }

    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: var(--dark);
        border-top: 1px solid rgba(0,0,0,.1);
        display: none;
    }

    header .navbar ul li{
        width: 100%;
    }

    /* header .navbar ul li a{
        font-size: 18px;
    } */

    header .navbar ul li ul{
        position: relative;
        width: 100%;
    }

    header .navbar ul li ul li{
        background: var(--darker);
    }

    header .navbar ul li ul li ul{
        width: 100%;
        left: 0;
    }

    #hamburger:checked ~.navbar{
        display: initial;
    }

    header .navbar ul li:hover > ul{
        display: none;
    }

    header .navbar ul li:focus-within > ul{
        display: initial;
    }
}