/* @import url('https://fonts.cdnfonts.com/css/libre-baskerville'); */

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&display=swap');

:root {
  /* Litt mer gult? F.eks. tørt gress */
  --yellow-light: hsl(41, 65%, 65%);
  --yellow-dark: hsl(41, 65%, 55%);

  /* Litt mer grønt? Se på trær i naturen */
  /* --green-light: hsl(138, 18%, 60%);
  --green-dark: hsl(138, 18%, 40%); */
  --green-light: rgba(202, 223, 130, 1);
  --green-dark: rgba(156, 204, 60, 1);

  /* OK */
  /* --blue-light: hsl(214, 49%, 60%); */
  /* --blue-dark: hsl(214, 49%, 40%); */
  --blue-light: rgb(133, 172, 213);
  --blue-dark: rgb(41, 119, 183);

  --black: #000;
  --grey: #ccc;
  --white: #fff;
}

* {
  font-family: "Libre Baskerville", serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  margin: 8px;
  padding: 8px;
}

.bg-green-radial {
  background-image: radial-gradient(
    var(--white), 
    var(--green-dark) 70%);
}
.bg-yellow-radial {
  background-image: radial-gradient(
    var(--white), 
    var(--yellow-dark) 70%);
}
.bg-blue-radial {
  background-image: radial-gradient(
    var(--white), 
    var(--blue-dark) 70%);
}

h1 {
  font-size: 16px;
  padding: 3px;

  border-bottom-left-radius: 20px;

  position: absolute;
  right: 0;
  width: 95%;
  z-index: 5;
}

p {
  padding: 5px 8px;
}

.image-container {
  height: 170px;
  position: relative;
  top: 18px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* margin-top: 16px */
}

.type {
  position: absolute;
  bottom: 0;

  font-size: 10px;
  font-style: italic;
  padding: 2px 8px;
  padding-right: 8px;
  border: 1px solid var(--black);
  border-left: 0px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.abilities {
  font-size: 10px;
  position: relative;
  top: 18px;
}

.mb-1 {
  margin-bottom: 4px;
}
.mb-2 {
  margin-bottom: 8px;
}

.text-center {
  text-align: center;
}

.bg-black {
  background-color: var(--black);
}
.bg-white {
  background-color: var(--white);
}

.bg-grey {
  background-color: var(--grey);
}

.bg-yellow-light {
  background-color: var(--yellow-light);
}
.bg-yellow-dark {
  background-color: var(--yellow-dark);
}

.bg-green-light {
  background-color: var(--green-light);
}
.bg-green-dark {
  background-color: var(--green-dark);
}

.bg-blue-light {
  background-color: var(--blue-light);
}
.bg-blue-dark {
  background-color: var(--blue-dark);
}

.text-white  {
  color: var(--white);
}

.circle {
  position: absolute;
  left: -4.5px;
  top: -4.5px;
  z-index: 11;

  border-radius: 50%;
  border: 2px solid var(--black);

  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 18px;
  font-weight: bold;

  text-shadow: 0px 0px 1.5px var(--black);
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 2.5in);
  grid-auto-rows: 3.5in;
  justify-content: start;
  gap: 0px;
}

/* 240 px * 336 px */
.card {
  width: 2.5in;   /* 63.5 mm */
  height: 3.5in;  /* 88.9 mm */
  border-radius: 4px; /* Ca. 1.1 mm */
  border: 10px solid var(--black); /* Ca. 2.6 mm */
  position: relative;
  
}

.flavor {
  width: 100%;
  font-size: 7px;
  font-style: italic;
  position: absolute;
  bottom: 24px;
  /* border-top: 1px solid var(--black); */
}

.power {
  width: fit-content;
  /* top right bottom left */
  padding: 4px 14px 0 4px;
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  bottom: 0;

  border-top-right-radius: 20px;
}