body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

div {
    width: 95%;
    max-width: 1300px;
    margin: 20px auto;
    border: 1px none black;
    text-align: center;
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 40px;
}

th {
    font-family: 'Cinzel', serif;
    font-weight: 700;
    font-size: 18px;
}

#tabell1 {
    width: 100%;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    /* margin: 20px auto; */
    border-collapse: collapse;
    text-align: center;
    table-layout: fixed;
}

tr {
    height: 50px;
}

th, td {
    border: 2px solid #000;
    padding: 6px;
    overflow: hidden;
}

tr th:first-child {
    width: 5%;
    border: none;
}

tr td:first-child {
    width: 5%;
    border-left: none;
}

.liten {
    height: 25px;
}

.liten > td {
    font-size: 14px;
    padding: 2px;
}


.IT1A {
    background-color: hsl(20, 100%, 90%);
}

.IT1D {
    background-color: hsl(57, 100%, 80%);
}

.IT2 {
    background-color: hsl(95, 90%, 80%);
}

.matte1T {
    background-color: hsl(200, 100%, 90%);
}

.realfag {
    background-color: hsl(288, 100%, 85%);
    /* background-color: #C4B289; */
}

.møte {
    background-color: #eee;
}

@media(max-width:600px){
    h1 {
        font-size: 24px;
    }
}