/* Enemies */
.middle .enemies .enemy {
  width: 15rem;
  height: 15rem;
  margin: 17vh auto 1vh;
}

.enemy h3 {
  text-align: center;
  margin: 0;
  font-size: 1.8rem;
}

.enemy.dead {
  transition: 1s ease-in;
  opacity: 0;
}

.middle .enemies .enemy .health-bar {
  width: 10rem;
  height: 1rem;
  background-color: #f00;
  margin: auto;
}

.middle .enemies .enemy .current-health {
  width: 100%;
  height: 100%;
  background-color: #0d0;
}


.middle .enemy img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}