* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    margin: 20px;
    text-align: center;
}

.chart {
    display: grid;
    grid-template-columns: repeat(19, 1fr);
    margin: 20px;
    font-weight: bold;
}

.chart > div:first-of-type{
    color: black;
    font-size: 14px;
    font-weight: normal;
}

.chart > div:nth-child(20){
    width: 80px;
}

.chart > div {
    width: 100%;
    height: 35px;
    border: 1px solid black;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Not very effective */
.chart > .weak {
    color: black;
    font-size: 26px;
    background-color: red;
}

/* Super effective */
.chart > .strong {
    font-size: 26px;
    background-color: green;
}

.normal {
    background-color: #A8A77A;
}

.fire {
    background-color: #EE8130;
}

.water {
    background-color: #6390F0;
}